
/* Home */
/* Products */

.product-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.left-container {
  width: 40%;
  height: 100vh;
}

.right-container {
  width: 60%;
}

/* Contact Us */